
<div class="row" style="margin-right: 0px; margin-left: 0px">

  <ul style="padding: 0px 20px 0px 20px;">
      <% @courses.each do |course| %>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="card card-spacing"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= course.photo.url %>')">
            <div class="card-category"><%= course.category %></div>
            <div class="card-description">
              <h2><%= link_to course.name, course_path(course), {:style=>'color:white;'} %></h2>
              <p><%= truncate(course.description, :length => 50, :separator => ' ') %></p>
            </div>
            <img class="card-user avatar" src=<%= course.user.photo.url %>>
            <a class="card-link" href="<%= course_path(course) %>" ></a>
          </div>
        </div>
      <% end %>
  </ul>
</div>
