<div class="navbar-wagon" id="navbar">


 <h3>EasyCourse</h3>

 <!-- Right Navigation -->
 <div class="navbar-wagon-right hidden-xs hidden-sm">


    <%= link_to 'Log In', new_user_session_path %>

    <%= link_to 'Sign Up', new_user_registration_path %>


    <div class="dropdown">
      <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "Profile", show_profile_path(current_user)%>
        </li>
        <li>
          <%= link_to "Edit Profile", edit_profile_path(current_user)%>
        </li>
        <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
        </li>
      </ul>
    </div>


  </div>
</div>

<!-- Dropdown appearing on mobile only -->
<div class="navbar-wagon-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fab fab-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><a href="#">Host</a></li>
      <li><a href="#">Trips</a></li>
      <li><a href="#">Messagese</a></li>
    </ul>
  </div>
  <% else %>
  <a><%= link_to 'Log In', new_user_session_path %></a>

  <a><%= link_to 'Sign Up', new_user_registration_path %></a>

  <% end %>
</div>
</div>


