<h1><%= @course.name %></h1>

<ul>
  <li>
    <%= @course.category %>
  </li>
  <li>
    <%= @course.description %>
  </li>
  <li>
    <%= @course.prerequisite %>
  </li>
  <li>
    <%= cl_image_tag(@course.photo, width: 300, height: 400, crop: :fill) %>
  </li>
</ul>
